<!DOCTYPE html>
<html>
<head>
  <title>Paul Zhang</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Google Analytics -->
	  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72697516-1', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body>

	<div id="header">
		<div class="name">Paul Zhang</div>
		<div class="buttons">
			<button class="button">
				<%=link_to "My Blog", root_path %>
			</button>
			<button class ="button">
			<%=link_to "About Me", about_path %>
			</button>
			<button class ="button">
			<%=link_to "Projects", projects_path %>
			</button>
			<button class ="button">
			<%= link_to "Resume", "files/resume.pdf" %>
			</button>
			<% if current_user %>
				<button class="button"><%=link_to "New Post", new_post_path %>
				</button>
				<button class="button"><%= link_to "Log out", logout_path, method: "delete" %>
				</button>
			<% end %>
		</div>
	</div>

	<div id= "main_content">

	<%= yield %>
	</div>

	<footer id="footer">
		<p class="copyright">&copy;2016 Paul Zhang</p>
		<nav>
			Contact
			<a href="https://www.linkedin.com/in/jlpaulzhang"><i class="fa fa-linkedin"></i></a>
			<a href="https://github.com/LaRenegaws"><i class="fa fa-github"></i></a>
			<a href="mailto:paul01134@hotmail.com"><i class="fa fa-envelope"></i></a>
		</nav>
	</footer>

</body>
</html>
